<section id="full-width-banner-1" class="full-width-banner-1">
  <div class="banner-container flex-center padding-x-lg" style="background-image: url({{section.background_image}});">
    <div class="banner-content flex-left" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">
      <div class="banner-heading">
        {{section.heading_html}}
      </div>
      <div>
        {{section.content_html}}
      </div>
      {% if section.add_button %}
      <a href="{{section.button_url}}" class="btn-outline">{{section.button_text}}</a>
      {% endif %}
    </div>
  </div>
</section>