<section id="img-txt-1" class="img-txt-1 {{section.background}}">
  <svg id="triangle-svg-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1898.021 65.626"><path d="M3888.021,5250.067,1990,5315.694H3888.021Z" transform="translate(-1990 -5250.067)" /></svg>
  <div class="grid-noGutter-spaceBetween padding-x-lg">
    <div class="col-6_md-12-middle">
      <div class="padding-y-md left">
        <h2>
          {{section.heading_html}}
        </h2>
        <div>
          {{section.content_html}}
        </div>
        <a href="{{section.button_url}}" class="btn" data-aos="zoom-in" data-aos-duration="900">
          {{section.button_text}}
        </a>
      </div>
    </div>
    <div class="col-5_md-12-middle img-column">
      <div class="img-container">
        {% unless section.image == nil %}
        <img src="{{section.image}}" class="responsive-img" alt="{{section.image_alt_text}}">
        {% endunless %}
      </div>
    </div>
  </div>
  <svg id="triangle-svg-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1898.021 65.626"><path d="M3888.021,5315.694,1990,5250.068H3888.021Z" transform="translate(-1990 -5250.068)" /></svg>
</section>