<section id="overview" class="overview">
  <svg id="triangle-svg-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1898.021 65.626"><path d="M3888.021,5250.067,1990,5315.694H3888.021Z" transform="translate(-1990 -5250.067)" /></svg>
  <div class="center text-padding">
    <h2>
      {{section.heading_html}}
    </h2>
    <div class="padding-x-lg">
      {{section.content_html}}
    </div>
    {% if section.add_button %}
      <a href="{{section.button_url}}" class="btn" data-aos="zoom-in" data-aos-duration="900" aria-label="Clique para acessar mais informações sobre {{section.heading_html}}">{{section.button_text}}</a>
    {% endif %}
  </div>
</section>