<footer class="grid-noGutter-spaceAround footer padding-y-sm padding-x-lg bg-dark">
  <div class="col-6_xs-12-middle">
    <div class="footer-branding">
      <a href="/" aria-label="Página Inicial" class="clickable-logo"><img src="/assets/images/logo.png" alt="{{site.data.settings.global.site-title}}"></a>
      <a href="/" aria-label="Página Inicial">Vela<strong>Magia</strong></a>
    </div>
    <div class="contact">
      <span>Marina Itajaí</span>
      <span>Itajaí - 88301-445</span>
      <span>Santa Catarina - Brasil</span>
      <a href="https://wa.me/{{site.data.settings.global.tel | remove: ' ' | remove: '(' | remove: ')' | remove: '-'}}">{{site.data.settings.global.tel}}</a>
      <a href="mailto:{{site.data.settings.global.email}}">{{site.data.settings.global.email}}</a>
    </div>
  </div>
  <div class="col-6_xs-12-middle social right">
    {% for item in site.data.settings.global.social %}
      <a href="{{item.url}}" class="social-link" target="_blank" rel="noreferrer noopener" aria-label="Clique para acessar o {{item.icon}} da {{site.data.settings.global.title}}">{% include social-icons.html icon=item.icon %}</a>
    {% endfor %}
  </div>
  <div class="col-12">
    <p class="small padding-y-sm">© VelaMagia 2020. <a href="https://itsgus.dev" target="_blank" rel="noopener noreferrer">Website desenvolvido por Gus.dev</a></p>
  </div>
</footer>